/* Minimal global resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Footer social icons - white color */
.footer__social-link i {
  color: white;
}
